<div *ngIf="cart" class="container">
  <div class="row flex-column justify-content-center align-items-center">
    <div *ngFor="let product of cart.products" class="col-xs-12 col-lg-6">
      <app-cart-product [item]="product"></app-cart-product>
    </div>
  </div>
  <div class="row justify-content-center align-items-center check-out">
    <div class="col-xs-12 col-md-4">
      <app-cart-check-out-card [cartInfo]="cartInfo"></app-cart-check-out-card>
    </div>
  </div>
</div>
<div *ngIf="!cart" class="container empty-cart">
  <div class="row">
    <h1><strong>your cart is empty</strong></h1>
    <button mat-button>shopping now</button>
  </div>
</div>
