button {
  border: none;
  outline: none;
}
.navbar {
  box-shadow: 1px 1px 2px #ccc;
  margin-bottom: 50px !important;
}
.collapse {
  justify-content: center;
  align-items: center;
}
.navbar-brand img {
  width: 45px;
  height: 45px;
}
ul li.auth-ctrls {
  align-self: flex-end !important;
  justify-self: flex-end !important;
  margin: 0px 25px;
}
a.active {
  color: var(--mainColor) !important;
}
