<div class="cart-info">
  <div>
    <h3><strong> products</strong></h3>
    <span>{{ cartInfo.totalProducts }}</span>
  </div>
  <div>
    <h3><strong> quantity</strong></h3>
    <span>{{ cartInfo.totalQuantity }}</span>
  </div>
  <div>
    <h3><strong> price</strong></h3>
    <span
      >{{ cartInfo.totalPrice }} <i class="fa-solid fa-dollar-sign"></i>
    </span>
  </div>
  <div>
    <h3><strong> after discount</strong></h3>
    <span
      >{{ cartInfo.totalPriceAfterDiscount }}
      <i class="fa-solid fa-dollar-sign"></i
    ></span>
  </div>
  <button mat-button>checkout now</button>
</div>
